.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px 0 0;
    color: $logo-color-1;
    background-color: #ffffff;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out; /* Adiciona suavidade ao mostrar/esconder o menu */
    
    .logo {
        img {
            width: 150px;
        }
    }

    .menuLista{
        display: flex;
        gap: 1.8rem;
        align-items: center;
        li {
            list-style: none;
            cursor: pointer;
        }
    }

    .cta {
        //background: linear-gradient(90deg, #D4A157, #A56B2B);
        background-color: #01a884;
        width: 200px;
        height: 35px;
        color: #ffffff;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        gap: 1rem;
        font-size: 18px;
    }
    .cta:hover {
        color: $logo-color-1;
    }

    .hamburger {
        
        display: none;
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
    }
    

    
       
}

/* Corrige o problema de sobreposição adicionando espaçamento no topo do body */
body {
  padding-top: 80px; /* Ajuste este valor de acordo com a altura do seu menu */
}

.hero-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px;
    gap: 1.8rem;
    background-image: linear-gradient(to top, rgba(6, 18, 30, 0.1), $logo-color-2), url(../assets/banner/fibra-otica-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;

    h1, h2 {
        width: 60%;
        color: $logo-color-1;
        text-align: justify;
    }

    .cta {
        //background: linear-gradient(90deg, #D4A157, #A56B2B);
        background-color: #01a884;
        width: 220px;
        height: 50px;
        color: #ffffff;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        font-size: 18px;
        transition: 1s ease-in-out;
    }
    .cta:hover {
        color: $logo-color-1;
    }
    .logo-hero {
        width: 50%;
        img {
            width: 100%;
        }
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.8rem;
        h1,h2{
            width: 100%;
        }
    }

}



@media screen and (max-width: 450px) {
    header {
        width: 100%;
        max-width: 450px;
        height: 100%;
        
    }
    .menuPai {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        color: $logo-color-1;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        height: 100px;
        top: 0;
        z-index: 2;
        transition: top 0.3s;
        position: fixed;
    }
    
    .hamburger {
        display: block !important; /* Garante que o ícone seja exibido */
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
        z-index: 99;
    }
    .menu-toggle {
        display: flex;
    }
    .menuFilho {
        display: none; /* Inicialmente oculto */
        justify-content: flex-end;
        height: 80px;
        z-index: 1;
    }
    
    .menuFilho.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:328px;
        left: 0;
        background-color: #ffffff;
        width: 100%;
        padding: 20px 0;
        z-index: 99;
    }
    
    .menuLista {
        flex-direction: column;
        gap: 1rem;
        margin: 0;
        background-color: #ffffffff;
    }
    .cta {
        margin: 0 auto;

    }
    .hero-container {
        width: 100%;
        max-width: 450px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        .logo-hero {
            display: none;
        }
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 18px;
        }
    }
}
