@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px 0 0;
  color: #D4A157;
  background: linear-gradient(90deg, #004aad, #0078ff);
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  transition: top 0.3s ease-in-out; /* Adiciona suavidade ao mostrar/esconder o menu */
}
.header .logo img {
  width: 150px;
}
.header .menuLista {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
.header .menuLista a {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: #D4A157;
  transition: 0.5s;
}
.header .menuLista a:hover {
  letter-spacing: 0.5rem;
}
.header .cta {
  background-color: #01a884;
  width: 200px;
  height: 35px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  gap: 1rem;
  font-size: 18px;
}
.header .cta:hover {
  color: #D4A157;
}
.header .hamburger {
  display: none;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

/* Corrige o problema de sobreposição adicionando espaçamento no topo do body */
body {
  padding-top: 80px; /* Ajuste este valor de acordo com a altura do seu menu */
}

.hero-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;
  gap: 1.8rem;
  background-image: linear-gradient(to top, rgba(6, 18, 30, 0.1), #393A3C), url(../assets/banner/fibra-otica-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}
.hero-container h1, .hero-container h2 {
  width: 60%;
  color: #D4A157;
  text-align: justify;
}
.hero-container .cta {
  background-color: #01a884;
  width: 220px;
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  transition: 1s ease-in-out;
}
.hero-container .cta:hover {
  color: #D4A157;
}
.hero-container .logo-hero {
  width: 50%;
}
.hero-container .logo-hero img {
  width: 100%;
}
.hero-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.8rem;
}
.hero-container .hero-text h1, .hero-container .hero-text h2 {
  width: 100%;
}

@media screen and (max-width: 450px) {
  header {
    width: 100%;
    max-width: 450px;
    height: 100%;
  }
  .menuPai {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    color: #D4A157;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 2;
    transition: top 0.3s;
    position: fixed;
  }
  .hamburger {
    display: block !important; /* Garante que o ícone seja exibido */
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 99;
  }
  .menu-toggle {
    display: flex;
  }
  .menuFilho {
    display: none; /* Inicialmente oculto */
    justify-content: flex-end;
    height: 80px;
    z-index: 1;
  }
  .menuFilho.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 328px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 20px 0;
    z-index: 99;
  }
  .menuLista {
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    background-color: white;
  }
  .cta {
    margin: 0 auto;
  }
  .hero-container {
    width: 100%;
    max-width: 450px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hero-container .logo-hero {
    display: none;
  }
  .hero-container h1 {
    font-size: 20px;
  }
  .hero-container h2 {
    font-size: 18px;
  }
}
.services {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.services h1, .services em {
  padding: 20px;
}
.services em {
  width: 50%;
}
.services .service-box {
  display: flex;
  gap: 1.8rem;
  background: linear-gradient(90deg, #004aad, #0078ff);
  width: 100%;
  padding: 40px;
  color: #ffffff;
  height: 100vh;
}
.services .service-box .info-service {
  text-align: justify;
  gap: 1.8rem;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  justify-content: space-between;
  align-items: center;
}
.services .service-box .info-service h2 {
  font-size: 20px;
}
.services .service-box .info-service .cta {
  background-color: #01a884;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  transition: 1s ease-in-out;
}
.services .service-box .info-service .cta:hover {
  border: 1px solid gold;
  transform: scale(1.08);
  color: #ffffff;
}
.services .service-box .img {
  display: flex;
  justify-content: center;
}
.services .service-box .img img {
  width: 50%;
}
.services .service-info {
  display: flex;
}
.services .service-text {
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 100%;
}
.services .service-text ul {
  line-height: 2;
  text-align: justify;
  list-style: none;
}
.services .service-text p {
  line-height: 2;
  text-align: justify;
}
.services .slideshow-container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.services .slideshow-container .slides {
  display: flex;
  transition: transform 1s ease;
}
.services .slideshow-container .slide {
  min-width: 100%;
  transition: opacity 1s ease-in-out;
}
.services .slideshow-container img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .services {
    max-width: 450px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  .services h1, .services em {
    padding: 20px;
    width: 100%;
  }
  .services em {
    text-align: justify;
  }
  .services .service-box {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color: #393A3C;
    width: 100%;
    padding: 20px;
    color: #D4A157;
  }
  .services .service-box .info-service {
    text-align: justify;
    gap: 1.8rem;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
  }
  .services .service-info {
    display: flex;
    flex-direction: column;
  }
  .services .service-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 100%;
  }
  .services .service-text ul {
    line-height: 2;
    text-align: justify;
    list-style: none;
  }
  .services .service-text p {
    line-height: 2;
    text-align: justify;
  }
  .services .slideshow-container {
    width: 100%;
    max-width: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .services .slideshow-container .slides {
    display: flex;
    transition: transform 1s ease;
  }
  .services .slideshow-container .slide {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
  }
  .services .slideshow-container img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .services {
    min-width: 451px;
    max-width: 768px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  .services h1, .services em {
    padding: 20px;
    width: 100%;
  }
  .services em {
    text-align: justify;
  }
  .services .service-box {
    max-width: 768px;
    min-width: 451px;
    width: 100%;
    display: grid; /* Troca para grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); /* Cria colunas automáticas */
    gap: 1.8rem;
    background-color: #393A3C;
    width: 100%;
    padding: 40px;
    color: #D4A157;
  }
  .services .service-box .info-service {
    text-align: justify;
    gap: 1.8rem;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
  }
}
.prova-social {
  padding: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}
.prova-social .cta {
  background-color: #01a884;
  width: 220px;
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  transition: 1s ease-in-out;
}
.prova-social .cta:hover {
  color: #ffffff;
}
.prova-social h2 {
  margin: 40px;
}
.prova-social .testimonials {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.prova-social .feedback {
  width: 100%;
  height: 650px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #D4A157;
}
.prova-social .feedback em {
  text-align: justify;
}
.prova-social .feedback-content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.prova-social .stars i {
  color: goldenrod;
}
.prova-social .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prova-social .img img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 450px) {
  .prova-social {
    padding: 20px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .prova-social h2 {
    margin: 40px;
  }
  .prova-social .testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .prova-social .feedback {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #D4A157;
  }
  .prova-social .feedback-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  .prova-social .stars i {
    color: goldenrod;
  }
  .prova-social .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prova-social .img img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
}
@media scren and (min-width: 451px) and (max-width: 768px) {
  .prova-social {
    padding: 40px;
    width: 100%;
    max-width: 768px;
    min-width: 451px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .prova-social h2 {
    margin: 40px;
  }
  .prova-social .testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 768px;
    min-width: 451px;
  }
  .prova-social .feedback {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #D4A157;
  }
  .prova-social .feedback-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  .prova-social .stars i {
    color: goldenrod;
  }
  .prova-social .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prova-social .img img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
}
.beneficios {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  text-align: center;
}
.beneficios h2, .beneficios p {
  padding: 40px 40px 0;
  text-align: justify;
}
.beneficios .ul-beneficios {
  display: flex;
}
.beneficios .ul-pai {
  display: flex;
  flex-direction: row;
}
.beneficios .lista {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.beneficios .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beneficios .img img {
  width: 50%;
}
.beneficios ul {
  display: flex;
  gap: 1.8rem;
  width: 100%;
  padding: 40px;
  color: #393A3C;
  background: linear-gradient(90deg, #D4A157, #A56B2B);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  text-align: justify;
}
.beneficios ul li {
  list-style: none;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .beneficios {
    max-width: 450px;
    width: 100%;
  }
  .beneficios .ul-pai {
    display: flex;
    flex-direction: column;
  }
  .beneficios .img img {
    width: 100%;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .beneficios {
    max-width: 768px;
    min-width: 450px;
    width: 100%;
  }
  .beneficios .ul-pai {
    display: flex;
    flex-direction: column;
  }
  .beneficios .img img {
    width: 100%;
  }
}
.sobre {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background: linear-gradient(90deg, #004aad, #0078ff);
  color: #D4A157;
}
.sobre h2 {
  text-align: center;
}
.sobre p {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sobre ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.sobre .sobre-content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.sobre .sobre-content .sobre-img {
  width: 100%;
  height: 500px;
  justify-content: center;
  display: flex;
  background-image: url(../assets/images/voip-img-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre .sobre-content .diferencial-lista {
  padding: 20px;
  font-size: 15px;
}
.sobre .sobre-content .cta {
  background-color: #01a884;
  width: 220px;
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-size: 18px;
  transition: 1s ease-in-out;
}
.sobre .sobre-content .cta:hover {
  border: 1px solid gold;
  transform: scale(1.08);
  color: #ffffff;
}

@media screen and (max-width: 450px) {
  .sobre h2 {
    margin: 20px auto;
  }
  .sobre p {
    padding: 20px;
    text-align: justify;
  }
  .sobre-content {
    display: flex;
    flex-direction: column;
  }
  .sobre-content .diferencial-lista {
    padding: 40px;
  }
  .sobre-content .diferencial-lista .cta {
    margin: 0 auto;
  }
  .sobre-content .sobre-img {
    width: 100%;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .sobre {
    max-width: 768px;
    min-width: 451px;
    width: 100%;
  }
  .sobre h2 {
    margin: 20px auto;
  }
  .sobre p {
    padding: 40px;
    text-align: justify;
  }
  .sobre-content {
    display: flex;
    flex-direction: column;
  }
  .sobre-content .diferencial-lista {
    padding: 40px;
  }
  .sobre-content .sobre-img {
    width: 100%;
  }
}
.location {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  text-align: center;
  background-color: #ffffff;
  color: #393A3C;
}
.location a {
  text-decoration: none;
  color: #D4A157;
}

.contato {
  background: #393A3C;
}
.contato h2 {
  text-align: center;
  margin: 40px;
  color: #D4A157;
  padding: 40px;
}
.contato .contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  gap: 100px;
}
.contato .contato-lista {
  list-style: none;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.contato .contato-lista li {
  border: 1px solid #D4A157;
  border-radius: 15px;
  color: #D4A157;
  font-size: 20px;
  width: 250px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .contato {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
  }
  .contatos {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  .contato {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    min-width: 451px;
    width: 100%;
  }
  .contatos {
    display: flex;
    max-width: 768px;
    min-width: 451px;
    width: 100%;
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: 0.4s;
  animation: zoomImage 2s infinite;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}
.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
}
.btn-whatsapp .btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .btn-whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
  }
  .btn-whatsapp img {
    max-width: 74px;
    transition: 0.4s;
    animation: zoomImage 2s infinite;
  }
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -244px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .btn-whatsapp .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}
footer {
  background: linear-gradient(90deg, #004aad, #0078ff);
  color: #ffffff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
footer .empresa-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 20px;
}
footer .empresa-info li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 18px;
}
footer .empresa-info a {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #D4A157;
}

@media screen and (max-width: 450px) {
  footer {
    max-width: 451px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  footer {
    max-width: 768px;
    min-width: 451px;
    width: 100%;
    display: flex;
    gap: 1.8rem;
    justify-content: space-between;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */